@use 'config/reset.scss';
@use'config/variaveis';
@use 'sass:math';

@mixin elementoForm() {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    border: none;
}


body{
    background-color: #eee;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px 0;
    background-color: variaveis.$corPrincipal;
    text-align: center;
    color: #fff;
}

.form-container{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;

    h2{
        font-size: 48px;
        text-align: center;
    }

    form{
        max-width: 480px;
        width: 100%;
        margin-top: 40px;

        label{
            font-weight: bold;
            cursor: pointer;
        }

        button{
            @include elementoForm() ;
            background-color: variaveis.$corSecundaria;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            color: #fff;

            &:hover{
                background-color: lighten(variaveis.$corSecundaria, 15%);
            }

        }
        input{
            @include elementoForm();
            background-color: transparent;
            border-bottom:3px solid variaveis.$corPrincipal ;
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .container {
        max-width: 80%;
    }
}